
.body{
    margin: auto;
}


.header-wrap {
    position: fixed;
    width: 100%;
    height: 200px;
    margin: auto;
    padding-top: 20px;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgb(255, 255, 255),rgba(255, 255, 255, 0));
}

.header-wrap img{
    width: 150px;
    height: 33.9px;
    padding: 0px 50px;
}


.header-wrap .menu{
    width: 250px;
    padding-right: 50px;
    justify-content: space-between;
}

.header-wrap ul{
    display: flex;
    justify-content: space-between;
}

.header-wrap li{
    list-style: none;
}

.header-wrap a{
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Helvetica';
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
}

.header-wrap a::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #a70000;
    bottom: -2px;
    transform: scale(0, 1);
    transform-origin: center top; /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
    transition: transform 0.3s;   /*変形の時間*/
    }
    
    .header-wrap a:hover::after {
    transform: scale(1, 1); /*ホバー後、x軸方向に1（相対値）伸長*/
    }

    .header-wrap a:hover{
    color: #a70000;
}


.business-menu .dropdown__lists {
    display: none;/*デフォルトでは非表示の状態にしておく*/
    position: absolute;
    top: 60px;
    right: 10px;
}
.business-menu:hover .dropdown__lists {
    display: block;/*Gナビメニューにホバーしたら表示*/
}
.dropdown__list {
    height: 50px;
    transition: all .3s;
    position: relative;
    text-align: center;
    right: 25px;
}
.dropdown__list:not(:first-child)::before{
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    
    text-align: center;
}
.dropdown__list:hover {
}
.dropdown__list a {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a80000;
    text-decoration: none;
    position: relative;
}
.dropdown__list a::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    transform: rotate(135deg);
    position: absolute;
    right: 15px;
    top: calc(50% - 5px);
}


.footer-wrap{ 
    width: 100%;
    height: 50px;
    background: #a70000;
    text-align: center;
    bottom: 0;
}

.footer-wrap p{
    margin: unset;
    padding-top: 15px;
    color: #fff;
    font-size: 15px;
    font-family: 'Helvetica';
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    bottom: 0px;
}

.title-wrap{
    width: 100%;
    align-items: left;
}

.title-wrap p{
    padding-left: 50px;
    letter-spacing: 5px;
}

.title-wrap h4{
    padding-left: 50px;
}

.business {
    margin: auto;
    height: 100vh;
    padding-top: 150px;
    width: 100%;
    align-items: center;
}

.business-vision{
    width: calc(50%);
    padding-left: 250px;
}

.business-vision h1{
    letter-spacing: 3px;
    font-size: 80px;
    font-family: 'helvetica', 'Yu Gothic';
    font-weight: 100px;
    margin: unset;
    margin-bottom: 10px;
}

.business-vision h2{
    font-size: 30px;
    font-family: 'helvetica', 'Yu Gothic';
    font-weight: 100px;
    color: #a80000;
    margin: unset;
}

.business img{
    width: calc(50%);
    margin-left: 50%;
}

.business-wrap-top{
    margin: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.business-wrap-top h3{
    letter-spacing: 3px;
    font-size: 20px;
    font-family: 'helvetica', 'Yu Gothic';
}

.business-wrap-top h2{
    font-size: 30px;
    font-family: 'helvetica', 'Yu Gothic';
    color: #a80000;
    border-bottom: 2px solid #a80000;
    display: inline-block;
}

.business-main-wrap{ 
}

.business-wrap{
    margin: auto;
    width: 1200px;
    display: flex;
}


.business-wrap .center img{
    width: 500px;
    padding-top: calc(15%);
}

.business-wrap .left{
    text-align: center;
    color: #fff;
    font-weight: bold;
}


.CPASSlounge{
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius:50%;
    
}

.CPASSlounge:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background: url(./img/31495.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
    }

.CPASSlounge:hover:after {
    filter: brightness(0.2);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
 }

.CPASSlounge p{
        position: relative;
        padding-top: 180px;
        width: 100%;
        height: 100px;
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0.25,0.5,0.75));
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        font-family: 'helvetica', 'Yu Gothic';
        letter-spacing: 2px;
    }  

    .CPASSlounge:hover p{
        padding-top: 0px;
        background: unset;
        transition:0.5s all;
       }    

       .CPASSlounge .business-hidenn{
        opacity:		0;
      }
    
      .CPASSlounge:hover .business-hidenn{
        opacity:		1;
      }

.CPASScareer{
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius:50%;

    }

.CPASScareer:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background: url(./img/30474661_xl.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
    }
    
.CPASScareer:hover:after {
    filter: brightness(0.2);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    }
    
    .CPASScareer p{
        position: relative;
        padding-top: 185px;
        width: 100%;
        height: 100px;
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0.25,0.5,0.75));
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        font-family: 'helvetica', 'Yu Gothic';
        letter-spacing: 2px;
    }  

    .CPASScareer:hover p{
        padding-top: 20px;
        background: unset;
        transition:0.5s all;
       }  

    .school{
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 300px;
        border-radius:50%;

    }
    
    .school:after {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        background: url(./img/business2.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        transition: all .3s ease-out;
        }
    
        .school:hover:after {
            filter: brightness(0.2);
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
     }
    
     .school p{
        position: relative;
        padding-top: 185px;
        width: 100%;
        height: 100px;
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0.25,0.5,0.75));
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        font-family: 'helvetica', 'Yu Gothic';
        letter-spacing: 2px;
    }  

    .school:hover p{
        padding-top: 0px;
        background: unset;
        transition:0.5s all;
       }  
    
        .learning{
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 300px;
    border-radius:50%;

        }
    
        .learning:after {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        background: url(./img/learning1-2.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        transition: all .3s ease-out;
        }
        
        .learning:hover:after {
            filter: brightness(0.2);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        }
        
        .learning p{
            position: relative;
            padding-top: 185px;
            width: 100%;
            height: 100px;
            background: linear-gradient(rgba(0,0,0,0),rgba(0,0.25,0.5,0.75));
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            text-decoration: none;
            color: #fff;
            font-size: 15px;
            font-family: 'helvetica', 'Yu Gothic';
            letter-spacing: 2px;
        }  
    
        .learning:hover p{
            padding-top: 20px;
            background: unset;
            transition:0.5s all;
           }  

.business-wrap-bottom{
    margin: auto;
    width: 1200px;
}

.bottom-wrap{
    display: flex;
    justify-content: center;
}

.bottom{
    text-align: center;
    color: #fff;
    font-weight: bold;
    width: 300px;
    padding: 7.5px;
}

.bottom p{
}

.next{
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius:50%;

    }

    .next:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background: url(./img/14116.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
    }
    
    .next:hover:after {
        filter: brightness(0.2);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    }
    
    .next p{
        position: relative;
        padding-top: 185px;
        width: 100%;
        height: 100px;
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0.25,0.5,0.75));
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        font-family: 'helvetica', 'Yu Gothic';
        letter-spacing: 2px;
    }  

    .next:hover p{
        padding-top: 20px;
        background: unset;
        transition:0.5s all;
       }  

       .jobs{
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 300px;
    border-radius:50%;

        }
    
        .jobs:after {
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        background: url(./img/pixta_13203650_L.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        background-size: cover;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        transition: all .3s ease-out;
        }
        
        .jobs:hover:after {
            filter: brightness(0.2);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        }
        
        .jobs p{
            position: relative;
            padding-top: 185px;
            width: 100%;
            height: 100px;
            background: linear-gradient(rgba(0,0,0,0),rgba(0,0.25,0.5,0.75));
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            text-decoration: none;
            color: #fff;
            font-size: 15px;
            font-family: 'helvetica', 'Yu Gothic';
            letter-spacing: 2px;
        }  
    
        .jobs:hover p{
            padding-top: 20px;
            background: unset;
            transition:0.5s all;
           }  



.home{
    width: 100%;
    height: 100vh;
}

#video {
    /*天地中央配置*/
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    border-radius: 0%;

}

.home-wrap{
    text-align: center;
    padding-top: 250px;
    margin: auto;
    font-family: 'helvetica', 'Yu Gothic';
    letter-spacing: 2px;
}

.home-wrap a{
    padding-top: 50px;
    backdrop-filter: blur(1px);
    display: inline-block;
    color: transparent;
    background-image: linear-gradient(90deg, #a70000, #a70000 50%, black 50%, black);
    background-position: 100% 0;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200% 100%;
    transition: background-position 0.4s cubic-bezier(0.25, 1, 0.5, 1); 
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: bold;
    padding-bottom: 50px;
}

.home-wrap:hover a{
    background-position: 0 0;
}

.carousel {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }

.carusel1{
    width: calc(16%);
  }
  .home-wrap-spbr{
    display: none;
}

